@import "tailwindcss";

.bg-primary {
    background-color: #dcc4a4;
}

.btn-primary:hover {
    background-color: #d9bc92 !important;
}

.bg-primary-dark {
    background-color: #d9bf9a !important;
}

.text-primary {
    color: #dcc4a4;
}

.border-primary {
    border-color: #dcc4a4;
}

.text-slate-20 {
    color: oklch(.551 .027 264.364);
}

.mb-minus-1 {
    margin-bottom: -1rem;
}

.top-minus-1 {
    top: -1.5rem;
}

.custom-toast {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 99;
}

/* Atur scrollbar agar tipis */
::-webkit-scrollbar {
  width: 6px; /* Lebar scrollbar vertikal */
  height: 6px; /* Lebar scrollbar horizontal */
}

/* Warna background scrollbar */
::-webkit-scrollbar-track {
  background: transparent; /* Bisa juga pakai rgba(0,0,0,0.1) untuk sedikit terlihat */
}

/* Warna dan bentuk thumb (bagian yang bisa digerakkan) */
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5); /* Warna transparan seperti Android */
  border-radius: 10px; /* Membuat ujung membulat */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.7); /* Warna lebih gelap saat dihover */
}

